/* Reset CSS */
@import url('normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Gloria+Hallelujah&display=swap');

:root {
	/* Neutrals */
	--white: #ffffff;
	--off-white: #eeeeee;
	--light-gray: #fafafa;
	--gray-light: #aaaaaa;
	--gray-medium: #808080;
	--gray-dark: #666666;
	--black-soft: #202020;
	--black: #000000;
	--black-transparent: #00000066;

	/* Accent colors */
	--orange-light: #ffefe5;
	--orange: #f48318;
	--red: #dc4c3e;
	--red-dark: #a81f00;
	--purple: #692ec2;
	--matcha: #a8c686;
	--matcha-light: #d9e7c1;
	--matcha-dark: #7b9b52;
	--matcha-muted: #b7c99b;
}

html {
	font-family: 'Be Vietnam Pro', sans-serif;
	font-size: 62.5%; /* 62.5% of 16px user agent font size is 10px */
}

/* Common CSS */
.btn {
	min-width: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	padding: 4px;
	background-color: transparent;
	outline: none;
	border: none;
	cursor: pointer;
	border-radius: 4px;

	.btn-icon {
		width: 24px;
		color: currentColor;
	}

	.btn-label {
		font-size: 1.6rem;
		line-height: 1.6;
	}
}

.btn.btn--medium {
	min-width: 50px;
	padding: 10px 12px;
}

.btn.btn--primary {
	color: var(--red-dark);
}

/* Logo */
#logo {
	font-size: 2.4rem;
	padding: 0;
	margin: 0;
	color: var(--matcha-dark);
	user-select: none;
}

.app {
	display: flex;
}

.app-content {
	margin: 20px;
	flex: 1;
}

.app-content-title {
	font-size: 2.2rem;
}

.page-heading {
	font-size: 2.4rem;
	font-weight: bold;
	user-select: none;
	margin: 20px 0;
}

/* Sidebar */
.sidebar {
	padding: 12px;
	width: 250px;
	height: 100vh;
	background-color: var(--light-gray);
	overflow: hidden;
}

.sidebar-nav-label {
	font-size: 1.4rem;
	color: var(--gray-light);
	user-select: none;
}

.sidebar-nav {
	margin: 20px 0;
}

/* Nav */
.nav-list {
	list-style: none;
	padding: 0;
}

.nav-item {
	display: flex;
	align-items: center;
	gap: 8px;

	padding: 8px 4px;
	font-size: 1.6rem;
	cursor: pointer;
	color: var(--gray-dark);

	&:hover {
		background-color: var(--off-white);
	}
}

.nav-item-icon svg {
	width: 24px;
	margin-left: 4px;
}

.todolist {
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 1.4rem;
}

.todo-item {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	padding: 0.75rem;
	border-bottom: 1px solid #eee;
	transition: background 0.3s;
	margin-top: 6px;
	border-left: 3px solid transparent;
}

.todo-item:hover {
	background: #f0f0f0;
}

.todo-content {
	display: flex;
	flex-direction: column;
	flex: 1;
	margin-left: 0.75rem;
}

.todo-title {
	font-weight: 400;
	cursor: pointer;
}

.todo-description {
	font-size: 1rem;
	color: #555;
	display: none;
	margin-top: 0.25rem;
}

.todo-meta {
	font-size: 0.8rem;
	color: #888;
	margin-top: 4px;
	user-select: none;
}

.priority-low {
	border-left-color: var(--matcha-dark);
}
.priority-medium {
	border-left-color: var(--orange);
}
.priority-high {
	border-left-color: var(--red);
}

.completed .todo-title {
	text-decoration: line-through;
	color: gray;
}

.editBtn,
.deleteBtn {
	display: flex;
	align-items: center;
	background: none;
	border: none;
	cursor: pointer;
	font-size: 1.2rem;
	margin-left: 8px;
	color: #555;
	padding: 8px;
	opacity: 0.5;

	&:hover {
		opacity: 1;
		border-radius: 4px;
	}
}

.editBtn:hover {
	background-color: var(--matcha);
}

.deleteBtn:hover {
	background-color: var(--red);
}

/* Form */
.form-container {
	background: white;
	padding: 2rem;
	border-radius: 10px;
	max-width: 400px;
	margin: auto;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.form-group {
	margin-bottom: 1rem;
}
.form-label {
	display: block;
	margin-bottom: 0.5rem;
	font-weight: bold;
}
.form-input,
.form-textarea,
.form-select {
	width: 100%;
	padding: 0.5rem;
	border-radius: 5px;
	border: 1px solid #ccc;
}

/* Modal */
#modal-container {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.4);
	display: none;
	align-items: center;
	justify-content: center;
	z-index: 1000;
}

.modal {
	background: white;
	padding: 1.5rem;
	border-radius: 8px;
	width: 400px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
}

.modal h3 {
	font-size: 1.8rem;
	margin: 0 0 10px;
}

.modal .form-group {
	margin-top: 10px;
	display: flex;
	flex-direction: column;
}

.modal .form-group label {
	font-size: 1.4rem;
	font-weight: bold;
}

.modal input,
.modal select {
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-top: 4px;
	font-size: 1.2rem;
}

.modal-actions {
	display: flex;
	justify-content: flex-end;
	gap: 1rem;
}

button.modal-close {
	&:hover {
		background-color: var(--off-white);
	}
}

button.modal-confirm {
	background-color: var(--red);
	color: var(--white);

	&:hover {
		background-color: var(--red-dark);
	}
}
